In [2]:
import pandas as pd

In [4]:
labeled_train_data = pd.read_csv('Training Dataset-20191009/labeled_data.csv')
labeled_train_data['label']

0        4
1        3
2        5
3        2
4        1
        ..
49995    2
49996    2
49997    1
49998    4
49999    1
Name: label, Length: 50000, dtype: int64

In [11]:
label = labeled_train_data['label']
len(label[label==1])/len(label)

0.20244

In [12]:
len(label[label==2])/len(label)

0.19916

In [13]:
len(label[label==3])/len(label)

0.19892

In [14]:
len(label[label==4])/len(label)

0.19912

In [7]:
test_transer = {'AuthorId': index_test, 'DuplicateAuthorIds': list_same_group}
test_frame = pd.DataFrame(data=test_transer)

In [9]:
test_frame.to_csv('test_final.csv', header = False, index=False)

In [10]:
test_frame

         AuthorId                                 DuplicateAuthorIds
0          test_1  test_1  test_6  test_7  test_17  test_40  test...
1          test_2  test_2  test_8  test_12  test_14  test_18  tes...
2          test_3  test_3  test_9  test_10  test_11  test_20  tes...
3          test_4  test_4  test_15  test_16  test_19  test_21  te...
4          test_5  test_5  test_13  test_36  test_37  test_42  te...
...           ...                                                ...
49995  test_49996  test_4  test_15  test_16  test_19  test_21  te...
49996  test_49997  test_1  test_6  test_7  test_17  test_40  test...
49997  test_49998  test_1  test_6  test_7  test_17  test_40  test...
49998  test_49999  test_4  test_15  test_16  test_19  test_21  te...
49999  test_50000  test_1  test_6  test_7  test_17  test_40  test...

[50000 rows x 2 columns]